<link href="~/css/workout.css" rel="stylesheet" />
@model Equipment
@{
    ViewData["Title"] = "Index";
}

<div id="center">
    <h2>Equipment</h2>
    <p>Name: @Model.Name</p>
    <p>Maintenance required: @Model.NeedsMaintenance</p>
    <img style="width:25%;height:auto" src="~/images/@Model.FormMedia" alt="User Photo" />
    <p>Instructions: @Model.Instructions</p>

    <form asp-controller="Gym" asp-action="EditEquipment" method="post">
        <input asp-for="EquipmentID" value="@Model.EquipmentID" hidden="hidden" />
        <input type="submit" value="Edit" />
    </form>


    @{
        if (Model.Workouts.Count > 0)
        {
            <h2>Equipment Metrics</h2>
            <h3>Total Reps/miles: @Model.TotalWorkout.TotalReps</h3>
            for (int i = 0; i < Model.Workouts.Count; i++)
            {
                <p>Workout Name: @Model.Workouts[i].Name</p>
                <p>Workout Type: @Model.Workouts[i].Type</p>
                <p>Reps: @Model.Workouts[i].Reps</p>
                <p>Weight: @Model.Workouts[i].Weight</p>
                <p>Start Time: @Model.Workouts[i].startTime</p>
                <p>End Time: @Model.Workouts[i].endTime</p>
                <p>----------------------------------</p>
            }
        }
    }
</div>